<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simple Chat</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <form id="form">
    <input type="text" id="input" placeholder="Message" />
    <button>Send</button>
  </form>
  <ul id="messages"></ul>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    let name = prompt('Masukkan nama anda: ')

    let form = document.getElementById('form');

    let input = document.getElementById('input');

    let messages = document.getElementById('messages');

    form.addEventListener('submit', (e) => {
      e.preventDefault();

      // kirim pesan jika input tidak kosong
      if (input.value) {
        // kirim pesan kedalam topik
        console.log('client', input.value);
        socket.emit('chat message', {
          name,
          message: input.value
        });

      }

      input.value = '';
    });

    socket.on('chat message', msg => {
      let item = document.createElement('li');
      item.textContent = `${msg.name}:${msg.message}`;
      messages.appendChild(item)
    })
  </script>
</body>

</html>